
body {
  background-color: #63add0;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: Trebuchet MS;
}

#chartTwoHeader {
  display: flex;
  justify-content: right;
  margin: 25px 100px 25px 100px;
}

#chartOneHeader {
  display: flex;
  justify-content: center;
  margin: 25px 100px 25px 100px;
}

#headerSection{
  display: flex;
  justify-content: center;
}

#sectionButton {
  display: flex;
  justify-content: center;
}

p {
  font-size: 15px;
  text-align: center;
}


.pictures {
  display: flex;
  height: 200px;
  width: 200px;
  border-color: #d8d8d8;
  border-style:inset;
  border-width: medium;
}

.imagesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  border: 2px;
  border-color: black;
}

section {
  display: flex;
  justify-content: center;
}

.chartSection{
  display: flex;
  justify-content: center;
  margin: 10px 50px 10px 50px;
}


/*#resultButton {
	-moz-box-shadow: 3px 4px 0px 0px #497b8c;
	-webkit-box-shadow: 3px 4px 0px 0px #497b8c;
	box-shadow: 3px 4px 0px 0px #497b8c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#4394a8;
	font-family:Arial;
	font-size:17px;
	padding:20px 20px 20px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
#myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}*/


#firstChart {
  display: flex;
  justify-content: center;
  border: 2px;
  border-color: black;
}
/*.resultButton {

}

.sectionButton {
  display: flex;
  justify-content: center;
}*/

/*#resultButton {
  visibility: hidden;
}*/

/*#kkk {
  visibility: visible;
}*/
